set nohelp
set autoindent
set linenumbers
set positionlog
set minibar
set constantshow
set afterends
set nonewlines
set numbercolor white
set multibuffer

bind ^d chopwordright main
bind ^y copy main
bind ^v copy main
bind ^o enter main
bind ^g gotoline main
bind M-] nextblock main
bind M-[ prevblock main
bind M-K firstline main
bind M-J lastline main
bind M-D cut main
bind M-, unindent main
bind M-. indent main
bind ^f whereis main
bind ^x delete main
bind ^p paste main
bind ^u undo main
bind ^r redo main
bind ^q exit main
bind ^w nextword main
bind ^b prevword main
bind ^h left main
bind ^l right main
bind ^j down main
bind ^k up main