format="HOST PWD GIT"

# HOST
font_color_host="236"
background_host="215"
## font_color_host="234"
## background_host="25"
texteffect_host="bold"

# PWD
font_color_pwd="215"
background_pwd="240"
## font_color_pwd="25"
## background_pwd="234"
texteffect_pwd="bold"

# GIT
font_color_git="236"
background_git="215"
## font_color_git="234"
## background_git="25"
texteffect_git="bold"

# CLOCK
font_color_clock="236"
background_clock="215"
texteffect_clock="bold"

# INPUT
## font_color_input="25"
font_color_input="215"
