##==============================================================================
## CUSTOMIZE YOUR SHELL PROMPT FORMAT
#
# AVAILABLE PROMPTS --> HOST USER PWD GIT CLOCK

format="HOST PWD GIT"

##==============================================================================



##==============================================================================
## CUSTOMIZE YOUR SHELL PROMPT [BACKGROUND-COLOR] [FONT-COLOR] [FONT-WEIGHT]
#
## SUPPORTED COLOR CODE --> [0 - 255] (256 bits color)
##==============================================================================



## USER [BACKGROUND-COLOR] [FONT-COLOR] [FONT-WEIGHT]

font_color_user="236"
background_user="215"
texteffect_user="bold"

##==============================================================================



## HOST [BACKGROUND-COLOR] [FONT-COLOR] [FONT-WEIGHT]

font_color_host="236"
background_host="215"
texteffect_host="bold"

##==============================================================================



## PWD [BACKGROUND-COLOR] [FONT-COLOR] [FONT-WEIGHT]

font_color_pwd="215"
background_pwd="240"
texteffect_pwd="bold"

##==============================================================================



## GIT [BACKGROUND-COLOR] [FONT-COLOR] [FONT-WEIGHT]

font_color_git="236"
background_git="215"
texteffect_git="bold"

##==============================================================================



## CLOCK [BACKGROUND-COLOR] [FONT-COLOR] [FONT-WEIGHT]

font_color_clock="236"
background_clock="215"
texteffect_clock="bold"

##==============================================================================



## INPUT [BACKGROUND-COLOR] [FONT-COLOR] [FONT-WEIGHT]

font_color_input="215"
background_input="none"
texteffect_input="bold"

##==============================================================================



## BEHAVIOR

separator_char='\uE0B0'         # Separation character, '\uE0B0'=triangle
separator_padding_left=''       #
separator_padding_right=''      #
prompt_horizontal_padding=''    #
prompt_final_padding=''         #
segment_padding=' '             #
enable_vertical_padding=true    # Add extra new line over prompt
max_pwd_char="20"

##==============================================================================



## GIT

git_symbol_synced=''
git_symbol_unpushed=' ▲'
git_symbol_unpulled=' ▼'
git_symbol_unpushedunpulled=' ◆'
git_symbol_dirty=' ◔'
git_symbol_dirty_unpushed=' ◔ △'
git_symbol_dirty_unpulled=' ◔ ▽'
git_symbol_dirty_unpushedunpulled=' ◔ ◇'
git_update_period_minutes=15	# Use -1 to disable automatic updates

##==============================================================================
